body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
}

.page-title {
    text-align: center;
    color: blue;
}

img {
    height: 70vh;
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    list-style: none;
    color: white;
}


.overline {             
    /* used in:
    1. index.html - recipe type */
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 2px;
}

.recipe-link {
    font-size: 30px;
    font-weight: 800;
    color: blue;
}

.recipe-link:hover {
    background-color: blue;
    color: white;
    padding: 2px 8px;
}

.flexbox {
    display: flex;
    justify-content: space-evenly;
    margin: 16px;
}

.flexbox-item {
    width: 33%;
}

footer {
    background-color: rgb(76, 76, 230);
    padding: 16px;
    color: aliceblue;
}